<script setup lang="ts">
import { serveQueue } from "./queue_serve";
import { ref } from "vue";
import { useTableStore } from "../../stores/table";

const tableStore = useTableStore();
const queueStores = serveQueue();
function addTable() {
  let count = 0;
  for (let i = 0; i < queueStores.queues.length; i++) {
    console.log(queueStores.table.length);
    for (let j = 0; j < queueStores.table.length; j++) {
      if (queueStores.queues[i].table == queueStores.table[j].table) {
        count++;
      }
    }
    if (count == 0 || queueStores.table.length == 0) {
      queueStores.tableModel.table = queueStores.queues[i].table;
      queueStores.table.push(queueStores.tableModel);
      queueStores.clear();
    }
    count = 0;
  }
}
</script>

<template>
  <v-container>
    <h2 :onload="addTable()"><center>รายการเสริฟอาหาร</center></h2>
    <br />

    <v-row>
      <v-col>
        <v-card v-for="wow of queueStores.table" :key="wow.table">
          <h1>&nbsp; Table: {{ wow.table }}</h1>
          <table id="queue">
            <thead>
              <tr>
                <th width="200px">ID</th>
                <th width="300px">รายการอาหาร</th>
                <th width="120px">สถานะ</th>
                <th width="30px">จำนวน</th>

                <th width="200px"></th>
              </tr>
            </thead>
            <tbody v-for="item in queueStores.queues" :key="item.table">
              <tr v-if="item.table == wow.table">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.state }}</td>
                <td>{{ item.num }}</td>
                <td class="text-center">
                  <v-btn
                    class="btn"
                    v-if="item.state == 'กำลังรอ'"
                    @click="item.state = 'เสริฟแล้ว'"
                    >เสริฟ</v-btn
                  >
                  <v-btn
                    class="btnRed"
                    disabled
                    v-else-if="item.state == 'ยกเลิก'"
                    >ยกเลิกแล้ว</v-btn
                  >
                  <v-btn class="btnGrey" disabled v-else>เสริฟแล้ว</v-btn>
                </td>
              </tr>
            </tbody>
          </table>
          <br />
        </v-card>
        <br /><br />
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100&display=swap");
td {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 42px !important;
  background-color: #6fdff52e;
}
th {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 24px !important;
  background-color: #a7fbe4b0;
}
h2 {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 70px !important;
  background-color: #10e4c0;
  color: rgb(0, 0, 0);
}
h1 {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 50px !important;
  font-weight: bold;
  background-color: #50f6cab0;
}
h1:hover {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 50px !important;
  background-color: #0f8465b0;
}
td {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 20px !important;
  font-weight: bold;
}
#queue {
  border-collapse: collapse;
  width: 100%;
}

#queue th {
  border: 1px solid #ddd;
  padding: 20px;
}

#queue th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;

  background-color: #fff;
  color: black;
}

.btn {
  font-weight: bold;
  color: white;
  background-color: #15acfc;
  height: 50px;
  width: 150px;
  font-size: 20px;
}
.btnGrey {
  font-weight: bold;
  color: white;
  background-color: #9d9d9d;
  height: 50px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
}
.btnRed {
  font-weight: bold;
  color: white;
  background-color: #e71414;
  height: 50px;
  width: 150px;
  font-size: 20px;
}
</style>
