<script setup lang="ts">
import { ref } from "vue";
import { useTableStore } from "../../stores/table";
import { usePaymentStore } from "./payment";
const tableStore = useTableStore();
const paymentStore = usePaymentStore();

const pay = () => {
  tableStore.changeTableStatus();
};
</script>

<template>
  <v-row>
    <v-dialog v-model="tableStore.dialog" width="1000" persistent>
      <v-card>
        <v-card-text>
          <v-container>
            <v-card-title class="d-flex align-center justify-center ma-6">
              <span class="text-h2"
                >{{ tableStore.ItemDialog.type
                }}{{ tableStore.ItemDialog.id }}</span
              >
            </v-card-title>
            <v-card-text class="d-flex align-center justify-center text-h5">
              สถานะ: รอชำระเงิน
            </v-card-text>
            <v-card-text class="d-flex align-center justify-center text-h5">
              จำนวนที่นั่ง:
              <p v-if="tableStore.ItemDialog.type === 'A'">&nbsp;2</p>
              <p v-if="tableStore.ItemDialog.type === 'B'">&nbsp;4</p>
              <p v-if="tableStore.ItemDialog.type === 'C'">&nbsp;6</p>
              <p v-if="tableStore.ItemDialog.type === 'D'">&nbsp;8</p>
            </v-card-text>
            <v-card-actions class="justify-center">
              <v-btn
                rounded="pill"
                color="#F37161"
                variant="outlined"
                size="large"
                @click="pay"
                >Pay</v-btn
              >
            </v-card-actions>
            <v-divider></v-divider>
            <v-col cols="12">
              <v-table>
                <thead>
                  <tr>
                    <th>จำนวน</th>
                    <th>ชื่อ</th>
                    <th>ราคา(บาท)</th>
                    <th>ราคารวม(บาท)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item of paymentStore.OrderPay" :key="item.id">
                    <td>{{ item.num }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.price }}</td>
                  </tr>
                </tbody>
              </v-table>
            </v-col>
            <v-divider></v-divider>
            <v-table>
              <thead v-for="item of paymentStore.OrderPay" :key="item.id">
                <tr>
                  <th>ราคารวมสุทธิ : {{ item.price }}</th>
                </tr>
                <tr>
                  <th>เงินที่ได้รับ : 60</th>
                </tr>
                <tr>
                  <th>เงินทอน : 5</th>
                </tr>
              </thead>
            </v-table>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="tableStore.dialog = false"
          >
            ยกเลิก
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<style scoped></style>
