<script setup lang="ts">
import PaymentCheckBill from "./PaymentCheckBill.vue";
import PaymentDialog from "./PaymentDialog.vue";
</script>
<template>
  <PaymentCheckBill></PaymentCheckBill>
  <!-- <PaymentDialog></PaymentDialog> -->
</template>
