<script setup lang="ts">
import type Table from "@/types/Table";
import { mdiCheckboxBlankCircle } from "@mdi/js";
import { ref } from "vue";
import { useTableStore } from "../../stores/table";
import { usePaymentStore } from "./payment";
const tableStore = useTableStore();
const paymentStore = usePaymentStore();
const drawer = ref(false);

const callPay = (tables: Table) => {
  tableStore.Additem(tables);
  tableStore.dialog = false;
  drawer.value = true;
};
const pay = () => {
  tableStore.changeTableStatus();
  drawer.value = false;
};
</script>
<template>
  <v-container>
    <v-row class="justify-center">
      <v-card
        class="ma-5"
        height="790px"
        width="1300px"
        color="#EEF2E6"
        style="overflow-y: scroll"
      >
        <v-row class="justify-center">
          <v-card
            class="pa-5 ma-2 text-h4 text-center"
            width="1300px"
            color="#1C6758"
            style="color: white"
            ><label>เช็คบิล</label></v-card
          >
        </v-row>
        <v-row class="justify-center">
          <v-col
            cols="13"
            md="0"
            v-for="item of tableStore.tables"
            :key="item.id"
          >
            <v-card
              class="ma-3 d-flex justify-center"
              height="200px"
              width="200px"
              color="#FF4A4A"
              v-if="item.st === 'red'"
              @click="callPay(item)"
            >
              <v-card-title class="d-flex align-center justify-center text-h2"
                ><label>{{ item.type }}{{ item.id }}</label>
              </v-card-title>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-navigation-drawer
            v-model="drawer"
            location="right"
            style="width: 500px"
            temporary
          >
            <v-card style="padding-bottom: 20px; background-color: transparent">
              <v-card-text>
                <v-container>
                  <v-card-title class="d-flex align-center justify-center ma-6">
                    <label
                      ><span
                        >{{ tableStore.ItemDialog.type
                        }}{{ tableStore.ItemDialog.id }}</span
                      ></label
                    >
                  </v-card-title>
                  <v-card-text
                    class="d-flex align-center justify-center text-h5"
                  >
                    <lebel class="seat">สถานะ:</lebel>
                    <label class="color">รอชำระเงิน</label>
                  </v-card-text>
                  <v-card-text
                    class="d-flex align-center justify-center text-h5"
                    ><label class="seat">จำนวนที่นั่ง:</label>

                    <p v-if="tableStore.ItemDialog.type === 'A'">&nbsp;2</p>
                    <p v-if="tableStore.ItemDialog.type === 'B'">&nbsp;4</p>
                    <p v-if="tableStore.ItemDialog.type === 'C'">&nbsp;6</p>
                    <p v-if="tableStore.ItemDialog.type === 'D'">&nbsp;8</p>
                  </v-card-text>
                  <v-card-actions class="justify-center">
                    <v-btn
                      class="rounded-xl"
                      variant="outlined"
                      style="background-color: #ff4a4a"
                      @click="pay"
                      ><lebel class="pay">Pay</lebel></v-btn
                    >
                  </v-card-actions>
                  <v-divider></v-divider>
                  <v-col cols="12">
                    <v-table>
                      <thead>
                        <tr>
                          <th>จำนวน</th>
                          <th>ชื่อ</th>
                          <th>ราคา(บาท)</th>
                          <th>ราคารวม(บาท)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          v-for="item of paymentStore.OrderPay"
                          :key="item.id"
                        >
                          <td>{{ item.num }}</td>
                          <td>{{ item.name }}</td>
                          <td>{{ item.price }}</td>
                          <td>{{ item.price }}</td>
                        </tr>
                      </tbody>
                    </v-table>
                  </v-col>
                  <v-divider></v-divider>
                  <v-table>
                    <thead v-for="item of paymentStore.OrderPay" :key="item.id">
                      <tr>
                        <th>ราคารวม:</th>
                        <th>{{ item.price }}</th>
                        <th>ราคารวมสุทธิ:</th>
                        <th>{{ item.price - item.discount }}</th>
                      </tr>
                      <tr>
                        <th>ส่วนลด:</th>
                        <th>{{ item.discount }}</th>
                        <th>เงินที่ได้รับ:</th>
                        <th><input type="text" placeholder="60" /></th>
                      </tr>
                      <tr>
                        <th colspan="2"></th>
                        <th>เงินทอน:</th>
                        <th>10</th>
                      </tr>
                    </thead>
                  </v-table>
                </v-container>
              </v-card-text>
            </v-card>
          </v-navigation-drawer>
        </v-row>
      </v-card>
    </v-row>
  </v-container>
  <!-- <v-container>
    <v-row>
      <v-card class="d-inline-flex pa-2" outlined tile>จำนวนที่นั่ง : 2</v-card>
      <v-icon :icon="mdiCheckboxBlankCircle" class="ma-2" color="red"></v-icon>
      <p class="ma-2">N</p>
    </v-row>
    <v-row>
      <v-col cols="13" md="0" v-for="item of tableStore.tables" :key="item.id">
        <v-card
          class="ma-2 d-flex align-center justify-center"
          color="#F37161"
          height="200px"
          width="200px"
          v-if="item.st === 'red' && item.type === 'A'"
          @click="callPay(item)"
        >
          <v-card-title class="d-flex align-center justify-center text-h2">
            {{ item.type }}{{ item.id }}
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-card class="d-inline-flex pa-2" outlined tile>จำนวนที่นั่ง : 4</v-card>
      <v-icon :icon="mdiCheckboxBlankCircle" class="ma-2" color="red"></v-icon>
      <p class="ma-2">N</p>
    </v-row>
    <v-row>
      <v-col cols="13" md="0" v-for="item of tableStore.tables" :key="item.id">
        <v-card
          class="ma-2 d-flex align-center justify-center"
          color="#F37161"
          height="200px"
          width="200px"
          v-if="item.st === 'red' && item.type === 'B'"
          @click="callPay(item)"
        >
          <v-card-title class="d-flex align-center justify-center text-h2">
            {{ item.type }}{{ item.id }}
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-card class="d-inline-flex pa-2" outlined tile>จำนวนที่นั่ง : 6</v-card>
      <v-icon :icon="mdiCheckboxBlankCircle" class="ma-2" color="red"></v-icon>
      <p class="ma-2">N</p>
    </v-row>
    <v-row>
      <v-col cols="13" md="0" v-for="item of tableStore.tables" :key="item.id">
        <v-card
          class="ma-2 d-flex align-center justify-center"
          color="#F37161"
          height="200px"
          width="200px"
          v-if="item.st === 'red' && item.type === 'C'"
          @click="callPay(item)"
        >
          <v-card-title class="d-flex align-center justify-center text-h2">
            {{ item.type }}{{ item.id }}
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-card class="d-inline-flex pa-2" outlined tile>จำนวนที่นั่ง : 8</v-card>
      <v-icon :icon="mdiCheckboxBlankCircle" class="ma-2" color="red"></v-icon>
      <p class="ma-2">N</p>
    </v-row>
    <v-row>
      <v-col cols="13" md="0" v-for="item of tableStore.tables" :key="item.id">
        <v-card
          class="ma-2 d-flex align-center justify-center"
          color="#F37161"
          height="200px"
          width="200px"
          v-if="item.st === 'red' && item.type === 'D'"
          @click="callPay(item)"
        >
          <v-card-title class="d-flex align-center justify-center text-h2">
            {{ item.type }}{{ item.id }}
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>
  </v-container> -->
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100&display=swap");
label {
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: bold;
  font-size: 48px !important;
}

.seat,
p {
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: bold;
  font-size: 24px !important;
}
.pay {
  font-size: 20px !important;
  color: black;
}

.color {
  font-size: 24px !important;
  color: #ff4a4a;
  padding-left: 10px;
}
th,
td {
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: bold;
  font-size: 15px !important;
}

input {
  text-align: center;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100px;
}
</style>
