<script setup lang="ts">
import TableCardList from "./tableCardList.vue";
import { useTableStore } from "../../stores/table";
import TableDialog from "./tableDialog.vue";
const tableStore = useTableStore();
</script>
<template>
  <v-container>
    <v-row>
      <TableCardList></TableCardList>
      <!-- <TableDialog></TableDialog> -->
    </v-row>
  </v-container>
</template>

<style scoped>
template {
  font-family: "Noto Sans Thai", sans-serif;
}
</style>


