<script setup lang="ts">
import { useTableStore } from "../../stores/table";
import { useDialogStore } from "./dialog";
import type Table from "../../types/Table";
const tableStore = useTableStore();
const dialogStore = useDialogStore();
const showQR=false;
const red = () => {
  tableStore.redTableStatus();
}

</script>

<template>
  <v-row>
    <v-col>
      <v-dialog v-model="tableStore.dialog" width="500">
        <v-card>
          <v-card-title class="d-flex align-center justify-center ma-6">
            <span class="text-h2">{{ tableStore.ItemDialog.type }}{{ tableStore.ItemDialog.id }}</span>
          </v-card-title>
          <v-img height="300" weight="300" src="https://chart.googleapis.com/chart?cht=qr&chl=https%3A%2F%2Fthumbs.gfycat.com%2FPepperyAdorableAlaskanhusky-max-1mb.gif&chs=180x180&choe=UTF-8&chld=L|2"></v-img>
          <v-card-text class="d-flex align-center justify-center text-h4">
            สถานะ:<p style="color:#F37161" v-if="tableStore.ItemDialog.st === 'red'">&nbsp;ไม่ว่าง</p>
            <p style="color:#FFE699" v-if="tableStore.ItemDialog.st === 'yellow'">&nbsp;ชำระเงินแล้ว</p>
            <p style="color:#A9D18E" v-if="tableStore.ItemDialog.st === 'green'">&nbsp;ว่าง</p>
          </v-card-text>
          <v-card-text class="d-flex align-center justify-center text-h4">
            จำนวนที่นั่ง:
            <p v-if="tableStore.ItemDialog.type === 'A'">&nbsp;2</p>
            <p v-if="tableStore.ItemDialog.type === 'B'">&nbsp;4</p>
            <p v-if="tableStore.ItemDialog.type === 'C'">&nbsp;6</p>
            <p v-if="tableStore.ItemDialog.type === 'D'">&nbsp;8</p>
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              class="ma-6"
              color="#FE0000"
              dark
              variant="outlined"
              size="x-large"
              @click="showQR = true"
              >QR Code Generate</v-btn
            >
          </v-card-actions>
          <v-card-actions class="justify-center">
            <v-btn
              class="ma-6"
              color="#FE0000"
              dark
              variant="outlined"
              size="x-large"
              @click="red"
              >Open</v-btn
            >
          </v-card-actions>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="tableStore.dialog = false"
          >
            ปิด
          </v-btn>
        </v-card>
      </v-dialog>
    </v-col>
  </v-row>
  <QRDialog />
</template>