<script setup lang="ts">
import { useTableStore } from "../../stores/table";
import { useDialogStore } from "@/lazy_bunnies/nine/dialog";
import { mdiCheckboxBlankCircle } from "@mdi/js";
import type Table from "../../types/Table";
import { isTemplateElement } from "@babel/types";
import { usePaymentStore } from "../karn/payment";
import { ref } from "vue";
const paymentStore = usePaymentStore();
const tableStore = useTableStore();
const dialogStore = useDialogStore();
const drawer = ref(false);
const drawerg = ref(false);
const drawery = ref(false);
const show = ref(false);
const showQR = false;
const AredItems = tableStore.tables.filter(
  (item) => item.st === "red" && item.type === "A"
);
const AredItemsCount = AredItems.length;
const AyellowItems = tableStore.tables.filter(
  (item) => item.st === "yellow" && item.type === "A"
);
const AyellowItemsCount = AyellowItems.length;
const AgreenItems = tableStore.tables.filter(
  (item) => item.st === "green" && item.type === "A"
);
const AgreenItemsCount = AgreenItems.length;
const BredItems = tableStore.tables.filter(
  (item) => item.st === "red" && item.type === "B"
);
const BredItemsCount = BredItems.length;
const ByellowItems = tableStore.tables.filter(
  (item) => item.st === "yellow" && item.type === "B"
);
const ByellowItemsCount = ByellowItems.length;
const BgreenItems = tableStore.tables.filter(
  (item) => item.st === "green" && item.type === "B"
);
const BgreenItemsCount = BgreenItems.length;
const CredItems = tableStore.tables.filter(
  (item) => item.st === "red" && item.type === "C"
);
const CredItemsCount = CredItems.length;
const CyellowItems = tableStore.tables.filter(
  (item) => item.st === "yellow" && item.type === "C"
);
const CyellowItemsCount = CyellowItems.length;
const CgreenItems = tableStore.tables.filter(
  (item) => item.st === "green" && item.type === "C"
);
const CgreenItemsCount = CgreenItems.length;
const DredItems = tableStore.tables.filter(
  (item) => item.st === "red" && item.type === "D"
);
const DredItemsCount = DredItems.length;
const DyellowItems = tableStore.tables.filter(
  (item) => item.st === "yellow" && item.type === "D"
);
const DyellowItemsCount = DyellowItems.length;
const DgreenItems = tableStore.tables.filter(
  (item) => item.st === "green" && item.type === "D"
);
const DgreenItemsCount = DgreenItems.length;

const Add = (tables: Table) => {
  if (tables.st == "green") {
    tableStore.Additem(tables);
    drawerg.value = true;
  } else if (tables.st == "red") {
    tableStore.ItemChangeTable.id = 0;
    tableStore.showTableName(tables);
    drawer.value = true;
  } else {
    tableStore.Additem(tables);
    drawery.value = true;
  }
  tableStore.dialog = false;
};

const Open = () => {
  tableStore.redTableStatus();
  drawerg.value = false;
};

const Change = (tables: Table) => {
  tableStore.changeTable(tables);
};

const confirmChangeTable = () => {
  tableStore.confirmChange();
  tableStore.ItemChangeTable.id = 0;
  drawer.value = false;
};

// const showDialog = (id: number, type: string) => {
//   dialogStore.dialog = true;
// };
</script>

<template>
  <v-container>
    <v-row class="justify-center">
      <v-card
        class="ma-5"
        height="800px"
        width="1300px"
        color="#EEF2E6"
        style="overflow-y: scroll"
      >
        <v-row class="justify-center">
          <v-card
            class="pa-5 ma-2 text-h4 text-center"
            width="1300px"
            color="#1C6758"
            style="color: white"
            ><label class="main">สถานะโต๊ะ</label></v-card
          >
        </v-row>
        <v-row class="justify-center">
          <v-card class="textfont pa-2 ma-2" outlined>จำนวนที่นั่ง: 2 </v-card>
          <v-icon
            :icon="mdiCheckboxBlankCircle"
            class="ma-4"
            color="#FF4A4A"
          ></v-icon>
          <label class="count pa-2 ma-2">{{ AredItemsCount }}</label>
          <v-icon
            :icon="mdiCheckboxBlankCircle"
            class="ma-4"
            color="#EFF669"
          ></v-icon>
          <label class="count pa-2 ma-2">{{ AyellowItemsCount }}</label>
          <v-icon
            :icon="mdiCheckboxBlankCircle"
            class="ma-4"
            color="#9BCB3C"
          ></v-icon>
          <label class="count pa-2 ma-2">{{ AgreenItemsCount }}</label>
        </v-row>
        <v-row class="justify-center">
          <v-col
            cols="13"
            md="0"
            v-for="item of tableStore.tables"
            :key="item.id"
          >
            <v-card
              height="200px"
              width="200px"
              class="ma-3 d-flex align-center justify-center text-h4"
              v-if="item.type === 'A'"
              v-bind:style="{
                backgroundColor:
                  item.st === 'red'
                    ? '#FF4A4A'
                    : item.st === 'yellow'
                    ? '#EFF669'
                    : '#9BCB3C',
              }"
              @click="Add(item)"
            >
              <v-card-title class="d-flex align-center justify-center text-h2">
                <label class="textfont">{{ item.type }}{{ item.id }}</label>
              </v-card-title>
            </v-card>
          </v-col>
        </v-row>
        <v-row class="justify-center">
          <v-card class="textfont pa-2 ma-2" md="0" outlined
            >จำนวนที่นั่ง: 4</v-card
          >
          <v-icon
            :icon="mdiCheckboxBlankCircle"
            class="ma-4"
            color="#FF4A4A"
          ></v-icon>
          <label class="count pa-2 ma-2">{{ BredItemsCount }}</label>
          <v-icon
            :icon="mdiCheckboxBlankCircle"
            class="ma-4"
            color="#EFF669"
          ></v-icon>
          <label class="count pa-2 ma-2">{{ ByellowItemsCount }}</label>
          <v-icon
            :icon="mdiCheckboxBlankCircle"
            class="ma-4"
            color="#9BCB3C"
          ></v-icon>
          <label class="count pa-2 ma-2">{{ BgreenItemsCount }}</label>
        </v-row>
        <v-row class="justify-center">
          <v-col
            cols="13"
            md="0"
            v-for="item of tableStore.tables"
            :key="item.id"
          >
            <v-card
              height="200px"
              width="200px"
              class="ma-3 d-flex align-center justify-center text-h4"
              v-if="item.type === 'B'"
              v-bind:style="{
                backgroundColor:
                  item.st === 'red'
                    ? '#FF4A4A'
                    : item.st === 'yellow'
                    ? '#EFF669'
                    : '#9BCB3C',
              }"
              @click="Add(item)"
            >
              <v-card-title class="d-flex align-center justify-center text-h2">
                <label class="textfont">{{ item.type }}{{ item.id }}</label>
              </v-card-title>
            </v-card>
          </v-col>
        </v-row>
        <v-row class="justify-center">
          <v-card class="textfont pa-2 ma-2" outlined>จำนวนที่นั่ง: 6</v-card>
          <v-icon
            :icon="mdiCheckboxBlankCircle"
            class="ma-4"
            color="#FF4A4A"
          ></v-icon>
          <label class="count pa-2 ma-2">{{ CredItemsCount }}</label>
          <v-icon
            :icon="mdiCheckboxBlankCircle"
            class="ma-4"
            color="#EFF669"
          ></v-icon>
          <label class="count pa-2 ma-2">{{ CyellowItemsCount }}</label>
          <v-icon
            :icon="mdiCheckboxBlankCircle"
            class="ma-4"
            color="#9BCB3C"
          ></v-icon>
          <label class="count pa-2 ma-2">{{ CgreenItemsCount }}</label>
        </v-row>
        <v-row class="justify-center">
          <v-col
            cols="13"
            md="0"
            v-for="item of tableStore.tables"
            :key="item.id"
          >
            <v-card
              height="200px"
              width="200px"
              class="ma-3 d-flex align-center justify-center text-h4"
              v-if="item.type === 'C'"
              v-bind:style="{
                backgroundColor:
                  item.st === 'red'
                    ? '#FF4A4A'
                    : item.st === 'yellow'
                    ? '#EFF669'
                    : '#9BCB3C',
              }"
              @click="Add(item)"
            >
              <v-card-title class="d-flex align-center justify-center text-h2">
                <label class="textfont">{{ item.type }}{{ item.id }}</label>
              </v-card-title>
            </v-card>
          </v-col>
        </v-row>
        <v-row class="justify-center">
          <v-card class="textfont pa-2 ma-2" outlined>จำนวนที่นั่ง: 8</v-card>
          <v-icon
            :icon="mdiCheckboxBlankCircle"
            class="ma-4"
            color="#FF4A4A"
          ></v-icon>
          <label class="count pa-2 ma-2">{{ DredItemsCount }}</label>
          <v-icon
            :icon="mdiCheckboxBlankCircle"
            class="ma-4"
            color="#EFF669"
          ></v-icon>
          <label class="count pa-2 ma-2">{{ DyellowItemsCount }}</label>
          <v-icon
            :icon="mdiCheckboxBlankCircle"
            class="ma-4"
            color="#9BCB3C"
          ></v-icon>
          <label class="count pa-2 ma-2">{{ DgreenItemsCount }}</label>
        </v-row>
        <v-row class="justify-center">
          <v-col
            cols="13"
            md="0"
            v-for="item of tableStore.tables"
            :key="item.id"
          >
            <v-card
              height="200px"
              width="200px"
              class="ma-3 d-flex align-center justify-center text-h4"
              v-if="item.type === 'D'"
              v-bind:style="{
                backgroundColor:
                  item.st === 'red'
                    ? '#FF4A4A'
                    : item.st === 'yellow'
                    ? '#EFF669'
                    : '#9BCB3C',
              }"
              @click="Add(item)"
            >
              <v-card-title class="d-flex align-center justify-center text-h2">
                <label class="textfont">{{ item.type }}{{ item.id }}</label>
              </v-card-title>
            </v-card>
          </v-col>
        </v-row>
        <!-- สีเขียว -->
        <v-navigation-drawer
          v-model="drawerg"
          location="right"
          style="width: 500px"
          temporary
        >
          <v-card style="padding-bottom: 20px; background-color: transparent">
            <v-card-title class="d-flex align-center justify-center ma-6">
              <span class="text-h2"
                ><label
                  >{{ tableStore.ItemDialog.type
                  }}{{ tableStore.ItemDialog.id }}</label
                ></span
              >
            </v-card-title>
            <v-img
              height="300"
              weight="300"
              src="https://chart.googleapis.com/chart?cht=qr&chl=https%3A%2F%2Fthumbs.gfycat.com%2FPepperyAdorableAlaskanhusky-max-1mb.gif&chs=180x180&choe=UTF-8&chld=L|2"
            ></v-img>
            <v-card-text class="d-flex align-center justify-center text-h4">
              <label class="seat">สถานะ:</label>
              <label class="colorg">ว่าง</label>
            </v-card-text>
            <v-card-text class="d-flex align-center justify-center text-h4">
              <label class="seat">จำนวนที่นั่ง:</label>
              <p v-if="tableStore.ItemDialog.type === 'A'">&nbsp;2</p>
              <p v-if="tableStore.ItemDialog.type === 'B'">&nbsp;4</p>
              <p v-if="tableStore.ItemDialog.type === 'C'">&nbsp;6</p>
              <p v-if="tableStore.ItemDialog.type === 'D'">&nbsp;8</p>
            </v-card-text>
            <v-card-actions class="justify-center">
              <v-btn
                color="#FE0000"
                dark
                variant="outlined"
                size="x-large"
                @click="showQR = true"
                >QR Code Generate</v-btn
              >
            </v-card-actions>
            <v-card-actions class="justify-center">
              <v-btn
                style="background-color: #81b214"
                dark
                variant="outlined"
                size="x-large"
                @click="Open"
                ><label class="open">Open</label></v-btn
              >
            </v-card-actions>
          </v-card>
        </v-navigation-drawer>
        <!-- สีแดง -->
        <v-navigation-drawer
          v-model="drawer"
          location="right"
          style="width: 500px"
          temporary
        >
          <v-card style="padding-bottom: 20px; background-color: transparent">
            <v-card-title class="d-flex align-center justify-center ma-6">
              <span class="text-h2"
                ><label
                  >{{ tableStore.ItemDialog.type
                  }}{{ tableStore.ItemDialog.id }}</label
                ></span
              >
            </v-card-title>
            <v-card-text class="d-flex align-center justify-center text-h4"
              ><label class="seat">สถานะ: </label
              ><label class="colorr">ไม่ว่าง</label>
            </v-card-text>
            <v-card-text class="d-flex align-center justify-center text-h4">
              <label class="seat">จำนวนที่นั่ง:</label>
              <p v-if="tableStore.ItemDialog.type === 'A'">&nbsp;2</p>
              <p v-if="tableStore.ItemDialog.type === 'B'">&nbsp;4</p>
              <p v-if="tableStore.ItemDialog.type === 'C'">&nbsp;6</p>
              <p v-if="tableStore.ItemDialog.type === 'D'">&nbsp;8</p>
            </v-card-text>
            <v-card-actions class="justify-center">
              <v-btn
                variant="outlined"
                height="50px"
                style="background-color: #ff4a4a"
                @click="show = !show"
                ><label class="pay">Change</label></v-btn
              >
            </v-card-actions>
            <div v-show="show">
              <v-divider></v-divider>

              <v-row class="justify-center pa-5">
                <v-card
                  class="ma-5"
                  height="200px"
                  width="400px"
                  color="#EEF2E6"
                  style="overflow-y: scroll"
                >
                  <v-row class="justify-center pa-5">
                    <v-col
                      cols="13"
                      md="0"
                      v-for="item of tableStore.tables"
                      :key="item.id"
                    >
                      <v-card
                        class="ma-3 d-flex justify-center"
                        height="50px"
                        width="50px"
                        color="#9BCB3C"
                        v-if="item.st === 'green'"
                        @click="Change(item)"
                      >
                        <v-card-title
                          class="d-flex align-center justify-center text-h6"
                          ><label class="showtable"
                            >{{ item.type }}{{ item.id }}</label
                          >
                        </v-card-title>
                      </v-card>
                    </v-col>
                  </v-row>
                </v-card>
                <v-card-title class="d-flex align-center justify-center ma-6">
                  <span class="text-h4"
                    ><label style="color: #ff4a4a"
                      >{{ tableStore.ItemDialog.type
                      }}{{ tableStore.ItemDialog.id }} </label
                    ><label style="padding: 10px">≫</label
                    ><label
                      style="color: #81b214"
                      v-if="tableStore.ItemChangeTable.id != 0"
                    >
                      {{ tableStore.ItemChangeTable.type
                      }}{{ tableStore.ItemChangeTable.id }}</label
                    ></span
                  >
                </v-card-title>
                <v-card-actions class="justify-center">
                  <v-btn
                    class="rounded-xl"
                    variant="outlined"
                    height="50px"
                    style="background-color: #ff4a4a"
                    @click="confirmChangeTable"
                    ><label class="pay">Confirm</label></v-btn
                  >
                </v-card-actions>
              </v-row>
            </div>
          </v-card>
          <v-divider></v-divider>
          <v-col cols="12">
            <v-table>
              <thead>
                <tr>
                  <th>จำนวน</th>
                  <th>ชื่อ</th>
                  <th>ราคา(บาท)</th>
                  <th>ราคารวม(บาท)</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item of paymentStore.OrderPay" :key="item.id">
                  <td>{{ item.num }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.price }}</td>
                  <td>{{ item.price }}</td>
                </tr>
              </tbody>
            </v-table>
          </v-col>
          <v-divider></v-divider>
        </v-navigation-drawer>
        <!-- สีเหลือง -->
        <v-navigation-drawer
          v-model="drawery"
          location="right"
          style="width: 500px"
          temporary
        >
          <v-card style="padding-bottom: 20px; background-color: transparent">
            <v-card-title class="d-flex align-center justify-center ma-6">
              <span class="text-h2"
                ><label
                  >{{ tableStore.ItemDialog.type
                  }}{{ tableStore.ItemDialog.id }}</label
                ></span
              >
            </v-card-title>
            <v-card-text class="d-flex align-center justify-center text-h4"
              ><label class="seat">สถานะ: </label
              ><label class="color">รอทำความสะอาด</label>
            </v-card-text>
            <v-card-text class="d-flex align-center justify-center text-h4">
              <label class="seat">จำนวนที่นั่ง:</label>
              <p v-if="tableStore.ItemDialog.type === 'A'">&nbsp;2</p>
              <p v-if="tableStore.ItemDialog.type === 'B'">&nbsp;4</p>
              <p v-if="tableStore.ItemDialog.type === 'C'">&nbsp;6</p>
              <p v-if="tableStore.ItemDialog.type === 'D'">&nbsp;8</p>
            </v-card-text>
          </v-card>
        </v-navigation-drawer>
      </v-card>
    </v-row>
  </v-container>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100&display=swap");
.textfont {
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: bold;
}
.count {
  font-size: 16px !important;
  color: black;
}
label {
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: bold;
  font-size: 48px !important;
}

.main {
  font-size: 48px !important;
}
.seat,
p {
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: bold;
  font-size: 24px !important;
}
.clean {
  font-size: 20px !important;
  color: black;
}

.color {
  font-size: 24px !important;
  color: #ffb100;
  padding-left: 10px;
}

.pay {
  font-size: 20px !important;
  color: black;
}

.colorr {
  font-size: 24px !important;
  color: #ff4a4a;
  padding-left: 10px;
}
th,
td {
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: bold;
  font-size: 15px !important;
}

.colorg {
  font-size: 24px !important;
  color: #81b214;
  padding-left: 10px;
}

.open {
  font-size: 20px !important;
  color: black;
}

.showtable {
  font-size: 15px !important;
}
</style>
