<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useLoginStore } from "@/stores/login";
const loginStore = useLoginStore();

const loginName = ref("");
const password = ref("");
const valid = ref(true);
// งงหนึ่ง ???
const form = ref<InstanceType<typeof VForm> | null>(null);
// บังคับ validate
const login = async () => {
  // งงสอง ??? ! = เชื่อว่าไม่ null
  const { valid } = await form.value!.validate();
  if (valid) {
    loginStore.login(loginName.value, password.value);
  }
};
const reset = () => {
  form.value?.reset();
};
</script>
<template>
  <v-app>
    <!-- padding top pa 0-16 -->
    <!-- background bg -->
    <v-main class="bg-blue-grey-darken-2 pa-16">
      <!-- margin x mx -->
      <v-card width="400px" class="mx-auto">
        <v-card-title primary-title class="text-center text-h6 font-weight-bold"
          >Login</v-card-title
        >
        <v-card-text>
          <v-form ref="form" v-model="valid">
            <v-text-field
              label="Login Name"
              v-model="loginName"
              :rules="[
                (v) => !!v || 'Login Name is required',
                (v) =>
                  (v && v.length >= 4) ||
                  'Login Name must be more than 4 characters',
              ]"
              required
            ></v-text-field>
            <!-- !!V || "Hello" ตัวแรก false ส่ง ตัวหลัง -->
            <v-text-field
              label="Password"
              type="password"
              v-model="password"
              :rules="[
                (v) => !!v || 'Password is required',
                (v) =>
                  (v && v.length >= 8) ||
                  'Password must be more than 8 characters',
              ]"
              required
            ></v-text-field>
          </v-form>
          <!-- <pre>
            {{ loginName }}
            {{ password }}
          </pre> -->
        </v-card-text>
        <!-- ไม่มี actions กรอบสี มี actions ตัวอักษรสี ได้แต่คิดแล้วก็สงสัย-->
        <v-card-actions class="justify-center">
          <v-btn color="success" @click="login()">Login</v-btn>
          <v-btn color="error" @click="reset()">Clear</v-btn>
        </v-card-actions>
      </v-card>
    </v-main>
  </v-app>
</template>
<style scoped></style>
