<script setup lang="ts">
import { serveQueue } from "@/lazy_bunnies/ton/queue_serve";

import { ref } from "vue";
import {
  mdiTableFurniture,
  mdiBroom,
  mdiCurrencyUsd,
  mdiChefHat,
  mdiFood,
  mdiSilverware,
  mdiWeatherSunny,
  mdiWeatherNight,
} from "@mdi/js";
import { useLoginStore } from "@/stores/login";
const loginStore = useLoginStore();
const drawer = ref(false);
const queueStores = serveQueue();
const theme = ref("light");

function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}

function logout() {
  loginStore.logout();
}

function showDrawer() {
  if (drawer.value == true) {
    drawer.value = false;
  } else {
    drawer.value = true;
  }
}

function addTable() {
  let count = 0;
  for (let i = 0; i < queueStores.queues.length; i++) {
    console.log(queueStores.table.length);
    for (let j = 0; j < queueStores.table.length; j++) {
      if (queueStores.queues[i].table == queueStores.table[j].table) {
        count++;
      }
    }
    if (count == 0 || queueStores.table.length == 0) {
      queueStores.tableModel.table = queueStores.queues[i].table;
      queueStores.table.push(queueStores.tableModel);
      queueStores.clear();
    }
    count = 0;
  }
}
</script>

<template>
  <v-app :theme="theme">
    <v-app-bar class="font" style="background-color: #1c6758; color: white">
      <v-container>
        <v-row>
          <v-col style="margin: auto">
            <v-app-bar-nav-icon
              variant="text"
              @click="showDrawer"
            ></v-app-bar-nav-icon>
          </v-col>
          <v-col class="text-right" style="margin: auto">
            <v-btn
              :prepend-icon="
                theme === 'light' ? mdiWeatherSunny : mdiWeatherNight
              "
              @click="onClick"
              ><label class="theme">THEME</label></v-btn
            >
          </v-col>
        </v-row>
      </v-container>
    </v-app-bar>
    <!-- temporary -->
    <v-navigation-drawer
      v-model="drawer"
      location="left"
      style="background-color: #1c6758"
    >
      <v-list class="font text-center">
        <v-avatar size="100"
          ><v-img
            alt="Avatar"
            src="https://lh3.googleusercontent.com/a/AEdFTp6gPfEpOd7qJhh476JuVFC8BUD8-cx7S9ba757Y_Q=s288-p-rw-no"
        /></v-avatar>
        <v-list-item
          ><label class="name">LazyBunnies</label><br />
          <label class="email">lazy_bunnies@gmail.com</label></v-list-item
        >
      </v-list>
      <v-divider></v-divider>
      <v-list density="compact" nav>
        <v-list-item
          class="font"
          style="background-color: #d6cda4"
          :prepend-icon="mdiTableFurniture"
          value="tableO"
          to="/tableO"
          >Table</v-list-item
        >
        <v-list-item
          class="font"
          style="background-color: #d6cda4"
          :prepend-icon="mdiSilverware"
          value="menu"
          to="/menu"
          >Menu</v-list-item
        >
        <v-list-item
          class="font"
          style="background-color: #d6cda4"
          :prepend-icon="mdiChefHat"
          value="cook"
          to="/cook"
          >Cook</v-list-item
        >
        <v-list-item
          class="font"
          style="background-color: #d6cda4"
          :prepend-icon="mdiFood"
          value="serve"
          to="/serve"
          @click="addTable()"
          >Serve</v-list-item
        >
        <v-list-item
          class="font"
          style="background-color: #d6cda4"
          :prepend-icon="mdiCurrencyUsd"
          value="payment"
          to="/payment"
          >Payment</v-list-item
        >
        <v-list-item
          class="font"
          style="background-color: #d6cda4"
          :prepend-icon="mdiBroom"
          value="tableC"
          to="/tableC"
          >Cleaning</v-list-item
        >
      </v-list>
      <template v-slot:append>
        <div class="pa-2">
          <v-btn block color="red" @click="logout()"
            ><label class="logout">Logout</label></v-btn
          >
        </div>
      </template>
    </v-navigation-drawer>
    <v-main>
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100&display=swap");
.font {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.name {
  font-size: 20px;
  color: white;
  text-shadow: 2px 1px black;
}

.email {
  font-size: 15px;
  color: white;
  text-shadow: 2px 1px black;
}

.logout {
  font-size: 20px;
  color: white;
  text-shadow: 2px 1px black;
}

.theme {
  font-size: 13px;
  font-weight: bold;
  color: white;
}
</style>
