<script setup lang="ts">
import { mdiHumanQueue, mdiChefHat } from "@mdi/js";
import QueueCook from "./QueueCook.vue";
import CookingView from "./CookingView.vue";
import { useQueueStore } from "../bas/queue";
import { ref } from "vue";
const queueStore = useQueueStore();
const selected = ref(0);
queueStore.isTable = 0;
</script>

<template>
  <QueueCook v-if="queueStore.isTable === 0"></QueueCook>
  <CookingView v-if="queueStore.isTable === 1"></CookingView>
  <v-bottom-navigation v-model="selected">
    <v-btn @click="queueStore.isTable = 0">
      <v-icon :icon="mdiHumanQueue"></v-icon><label>คิว</label>
    </v-btn>
    <v-btn @click="queueStore.isTable = 1">
      <v-icon :icon="mdiChefHat"></v-icon><label>รายการอาหาร</label>
    </v-btn>
  </v-bottom-navigation>
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100&display=swap");
label {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 15px;
  font-weight: bold;
}
</style>
