<script setup lang="ts">
import { useQueueStore } from "../bas/queue";
import { ref } from "vue";
import type Queue from "./type/Queue";
const queueStore = useQueueStore();
const Cancel = (index: number): void => {
  queueStore.competeCook(index);
};

const Return = (queue: Queue, index: number): void => {
  queueStore.returnItemQueue(queue, index);
};
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card>
          <v-table id="queue">
            <thead>
              <tr>
                <th>จำนวน</th>
                <th>รายการอาหาร</th>
                <th>Option</th>
                <th>หมายเหตุ</th>
                <th>โต๊ะ</th>
                <th width="25%"></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in queueStore.cooks" :key="item.id">
                <td>{{ item.num }}</td>
                <td>{{ item.name }}</td>
                <td>{{}}</td>
                <td>{{ item.note }}</td>
                <td>{{ item.table }}</td>
                <td class="text-center">
                  <span style="padding-right: 10px">
                    <v-btn class="btng" @click="Cancel(item.id)"
                      >Complete</v-btn
                    >
                  </span>
                  <span style="padding-left: 10px"
                    ><v-btn class="btnr" @click="Return(item, item.id)"
                      >Cancel</v-btn
                    >
                  </span>
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100&display=swap");
th {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 24px !important;
}
td {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 20px !important;
  font-weight: bold;
}
#queue {
  border-collapse: collapse;
  width: 100%;
}

#queue td,
#queue th {
  padding: 10px;
}

#queue th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1c6758;
  color: white;
}

#queue tr {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ffefcf;
  color: black;
}

.btng {
  font-weight: bold;
  color: white;
  background-color: #00af91;
  height: 50px;
  width: 150px;
  font-size: 20px;
}

.btnr {
  font-weight: bold;
  color: white;
  background-color: #990000;
  height: 50px;
  width: 150px;
  font-size: 20px;
}
</style>
