<script setup lang="ts">
import { ref } from "vue";
import { mdiPlus, mdiMinus } from "@mdi/js";
import { useMenuStore } from "../game/menu";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const menuStore = useMenuStore();

function plus() {
  menuStore.ItemDialog.num += 1;
}

function Minus() {
  if (menuStore.ItemDialog.num > 1) {
    menuStore.ItemDialog.num -= 1;
  }
}

const save = async () => {
  menuStore.ItemDialog.note = menuStore.mynote;
  menuStore.addNewItem();
  menuStore.dialog = false;
  menuStore.ItemDialog.num = 1;
  menuStore.mynote = "";
};

const clear = () => {
  menuStore.dialog = false;
  menuStore.ItemDialog.num = 1;
  menuStore.mynote = "";
  menuStore.clear();
};
</script>

<template>
  <v-row>
    <v-dialog v-model="menuStore.dialog" width="600" persistent>
      <v-card style="background-color: #ffefcf">
        <div class="d-flex justify-center ma-4">
          <v-img
            max-height="250"
            min-height="250"
            max-width="250"
            min-width="250"
            :src="menuStore.ItemDialog.img"
            cover
          ></v-img>
        </div>

        <v-card-title>
          <span class="text-h5"
            ><label>{{ menuStore.ItemDialog.name }}</label></span
          >
          <v-divider></v-divider>
        </v-card-title>
        <v-card-text>
          <v-table class="border-0">
            <tbody style="background-color: #ffefcf">
              <tr>
                <td>
                  <v-checkbox
                    style="font-weight: bold"
                    label="พิเศษ"
                  ></v-checkbox>
                </td>
              </tr>
              <tr>
                <td>
                  <v-checkbox
                    style="font-weight: bold"
                    label="+ ไข่ดาว"
                  ></v-checkbox>
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-card-text>
        <div class="d-flex justify-center ma-4">
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="black" :icon="mdiMinus" @click="Minus()"></v-btn>
            <label class="detail">{{ menuStore.ItemDialog.num }}</label>
            <v-btn color="black" :icon="mdiPlus" @click="plus()"></v-btn>
          </v-card-actions>
        </div>
        <div class="detail">
          <v-textarea
            style="font-weight: bold"
            v-model="menuStore.mynote"
            label="รายละเอียดเพิ่มเติม"
            variant="outlined"
          ></v-textarea>
        </div>
        <v-card-text class="text-right">
          <label class="price"
            >ราคา :
            {{ menuStore.ItemDialog.price * menuStore.ItemDialog.num }}฿</label
          >
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="clear">
            <label class="oc">ปิด</label>
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save">
            <label class="oc">บันทึก</label>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100&display=swap");
tbody {
  font-family: "Noto Sans Thai", sans-serif;
  color: black;
}
label {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.detail {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.price {
  font-size: 15px;
  font-weight: bold;
  color: green;
}

.oc {
  font-size: 15px;
  color: #0081c9;
}
</style>
