<script setup lang="ts">
import { useMenuStore } from "../game/menu";
import { mdiBasket, mdiFood, mdiClipboardListOutline } from "@mdi/js";
import { ref } from "vue";
import type Menu from "./type/Menu";
const menuStore = useMenuStore();
const Add = (menus: Menu) => {
  menuStore.Additem(menus);
};

function log(option: string) {
  menuStore.menuoption = option;
  console.log(menuStore.menuoption);
}
</script>

<template>
  <v-container>
    <v-sheet max-width="100%" color="#ffffff00">
      <v-slide-group>
        <v-slide-group-item v-for="item of menuStore.options" :key="item.id">
          <v-btn
            text
            class="ma-2"
            @click="log(item.Optionname)"
            style="background-color: #d44000"
            ><label class="type">{{ item.Optionname }}</label>
          </v-btn>
        </v-slide-group-item>
      </v-slide-group>
    </v-sheet>
    <div style="padding: 10px"></div>
    <v-row v-for="item of menuStore.menus" :key="item.id">
      <v-col
        v-if="
          item.type === menuStore.menuoption ||
          menuStore.menuoption === 'ทั้งหมด'
        "
      >
        <v-card
          height="90px"
          @click="Add(item)"
          style="background-color: #ffefcf"
        >
          <div class="d-flex">
            <v-img
              max-height="90"
              min-height="90"
              max-width="90"
              min-width="90"
              :src="item.img"
              cover
            ></v-img>
            <div>
              <v-card-title class="text-body-1"
                ><label>{{ item.name }}</label>
              </v-card-title>
              <v-card-text class="text-green text-body-2">
                <label class="price"> ฿: {{ item.price }}</label>
              </v-card-text>
            </div>
          </div>
          <v-card-text color="secondary" class="text-right">+</v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100&display=swap");
label {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.price {
  color: green;
  font-size: 15px;
}

.type {
  font-size: 15px;
  font-weight: bold;
  color: white;
}
</style>
