<script setup lang="ts">
import { mdiBasket, mdiFood, mdiClipboardListOutline } from "@mdi/js";
import { ref } from "vue";
import MenuItem from "./MenuItem.vue";
import MenuList from "./MenuList.vue";
import MenuOrder from "./MenuOrder.vue";
import { useMenuStore } from "../game/menu";
import MenuDialog from "./MenuDialog.vue";
const menuStore = useMenuStore();
const selected = ref(0);
menuStore.isTable = 0;
</script>

<template>
  <MenuItem v-if="menuStore.isTable === 0"></MenuItem>
  <MenuList v-if="menuStore.isTable === 1"></MenuList>
  <MenuOrder v-if="menuStore.isTable === 2"></MenuOrder>
  <MenuDialog></MenuDialog>
  <v-bottom-navigation v-model="selected">
    <v-btn @click="menuStore.isTable = 0">
      <v-icon :icon="mdiFood"></v-icon><label>เมนูอาหาร</label>
    </v-btn>
    <v-btn @click="menuStore.isTable = 1">
      <v-badge color="green" overlap :content="menuStore.BasketsCount">
        <v-icon :icon="mdiBasket"></v-icon> </v-badge
      ><label>ตะกร้าอาหาร</label>
    </v-btn>
    <v-btn @click="menuStore.isTable = 2">
      <v-icon :icon="mdiClipboardListOutline"></v-icon
      ><label>รายการอาหาร</label>
    </v-btn>
  </v-bottom-navigation>
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100&display=swap");
label {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 15px;
  font-weight: bold;
}
</style>
