<script setup lang="ts">
import { useMenuStore } from "../game/menu";
const menuStore = useMenuStore();
</script>

<template>
  <v-container>
    <v-row>
      <div
        class="rounded-xl"
        style="
          background-color: #1c6758;
          width: auto;
          text-align: center;
          margin: auto;
          padding: 10px;
        "
      >
        <label class="table">Table: {{ menuStore.table }}</label>
      </div>
      <v-col cols="12">
        <v-table id="Menu">
          <thead>
            <tr>
              <th>รายการ</th>
              <th class="text-center justify-center align-center">ราคา</th>
              <th class="text-center justify-center align-center">หมายเหตุ</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of menuStore.orders" :key="item.id">
              <td>
                <label>[{{ item.num }}]{{ item.name }}</label>
              </td>
              <td class="text-center justify-center align-center">
                <label>{{ item.price * item.num }}</label>
              </td>
              <td class="text-center justify-center align-center">
                <label>{{ item.note }}</label>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
  <div style="text-align: center" class="sum">
    <v-card outlined color="transparent"
      >ยอดรวม: {{ menuStore.sumList }}฿</v-card
    >
  </div>
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100&display=swap");
tr {
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: bold;
}

th {
  font-size: 18px !important;
}

td {
  font-size: 15px !important;
}

#Menu {
  border-collapse: collapse;
  width: 100%;
}

#Menu th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1c6758;
  color: white;
  text-shadow: 2px 2px black;
}

#Menu tr {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ffefcf;
  color: black;
}

label {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.sum {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.table {
  font-size: 34px;
  font-weight: bold;
  color: white;
}
</style>
