<script setup lang="ts">
import { mdiDelete, mdiPencil, mdiPlus } from "@mdi/js";
import { mdi } from "vuetify/lib/iconsets/mdi-svg";
import { useMenuStore } from "../game/menu";
import type Basket from "./type/Basket";
const menuStore = useMenuStore();
const deleteItem = (index: number): void => {
  menuStore.deleteItem(index);
};

const EditItem = (basket: Basket) => {
  menuStore.editItem(basket);
};

function confirmorder() {
  menuStore.confirm();
}
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-table id="Menu">
          <thead>
            <tr>
              <th>รายการ</th>
              <th class="text-center justify-center align-center">ราคา</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of menuStore.baskets" :key="item.id">
              <td>[{{ item.num }}]{{ item.name }}</td>
              <td class="text-center justify-center align-center">
                {{ item.price * item.num }}฿
              </td>
              <td width="150px" class="text-center">
                <v-btn icon variant="flat"
                  ><v-icon
                    :icon="mdiPencil"
                    color="secondary"
                    @click="EditItem(item)"
                  ></v-icon
                ></v-btn>
                <v-btn icon variant="flat" @click="deleteItem(item.id)"
                  ><v-icon :icon="mdiDelete" color="error"></v-icon
                ></v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
    <div class="text-center" style="padding-top: 10px">
      <v-btn color="success" @click="confirmorder()"
        ><label class="confirm">ยืนยันออเดอร์</label></v-btn
      >
    </div>
  </v-container>
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100&display=swap");
tr {
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: bold;
}

th {
  font-size: 18px !important;
}

td {
  font-size: 15px !important;
}

#Menu {
  border-collapse: collapse;
  width: 100%;
}

#Menu th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1c6758;
  color: white;
  text-shadow: 2px 2px black;
}

#Menu tr {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ffefcf;
  color: black;
}

label {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: black;
}
</style>
