<script setup lang="ts">
import { useTableStore } from "../../stores/table";
import CleaningCardList from "./CleaningCardList.vue";
import CleaningDialog from "./CleaningDialog.vue";
const tableStore = useTableStore();
</script>

<template>
  <v-cotainer>
    <v-row>
      <CleaningCardList></CleaningCardList>
    </v-row>
  </v-cotainer>
</template>

<style scope></style>
