<script setup lang="ts">
import { ref } from "vue";

import { useTableStore } from "../../stores/table";
import { useDialogStore } from "./dialogs/dialog";
const tableStore = useTableStore();
const dialogStore = useDialogStore();

const cleaned = () => {
  tableStore.changeTableStatus();
};
</script>

<template>
  <v-row>
    <v-col>
      <v-dialog v-model="tableStore.dialog" width="500">
        <v-card>
          <v-card-title class="d-flex align-center justify-center ma-6">
            <span class="text-h2"
              >{{ tableStore.ItemDialog.type
              }}{{ tableStore.ItemDialog.id }}</span
            >
          </v-card-title>
          <v-card-text class="d-flex align-center justify-center text-h4">
            สถานะ: รอทำความสะอาด
          </v-card-text>
          <v-card-text class="d-flex align-center justify-center text-h4">
            จำนวนที่นั่ง:
            <p v-if="tableStore.ItemDialog.type === 'A'">&nbsp;2</p>
            <p v-if="tableStore.ItemDialog.type === 'B'">&nbsp;4</p>
            <p v-if="tableStore.ItemDialog.type === 'C'">&nbsp;6</p>
            <p v-if="tableStore.ItemDialog.type === 'D'">&nbsp;8</p>
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              class="ma-6"
              variant="outlined"
              size="x-large"
              @click="cleaned"
              >Cleaned</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-col>
  </v-row>
</template>

