<script setup lang="ts">
import { ref } from "vue";
import type Table from "../../types/Table";
import { mdiCheckboxBlankCircle } from "@mdi/js";
import { useTableStore } from "../../stores/table";
import { useDialogStore } from "./dialogs/dialog";
const tableStore = useTableStore();
const dialogStore = useDialogStore();
const drawer = ref(false);

const Add = (tables: Table) => {
  tableStore.Additem(tables);
  // tableStore.dialog = true;
  drawer.value = true;
  tableStore.dialog = false;
};

const cleaned = () => {
  tableStore.changeTableStatus();
  drawer.value = false;
};

// function openDrawer() {
//   if (drawer.value == true) {
//     drawer.value = false;
//   } else {
//     drawer.value = true;
//   }
// }
</script>

<template>
  <v-container>
    <v-row class="justify-center">
      <v-card
        class="ma-5"
        height="800px"
        width="1300px"
        color="#EEF2E6"
        style="overflow-y: scroll"
      >
        <v-row class="justify-center">
          <v-card
            class="pa-5 ma-2 text-h4 text-center"
            width="1300px"
            color="#1C6758"
            style="color: white"
            ><label>โต๊ะรอทำความสะอาด</label></v-card
          >
        </v-row>
        <v-row class="justify-center">
          <v-col
            cols="13"
            md="0"
            v-for="item of tableStore.tables"
            :key="item.id"
          >
            <v-card
              class="ma-3 d-flex justify-center"
              height="200px"
              width="200px"
              color="#EFF669"
              v-if="item.st === 'yellow'"
              @click="Add(item)"
            >
              <v-card-title class="d-flex align-center justify-center text-h2"
                ><label>{{ item.type }}{{ item.id }}</label>
              </v-card-title>
            </v-card>
          </v-col>
        </v-row>

        <v-navigation-drawer
          v-model="drawer"
          location="right"
          style="width: 500px"
          temporary
        >
          <v-card style="padding-bottom: 20px; background-color: transparent">
            <v-card-title class="d-flex align-center justify-center ma-6">
              <span class="text-h2"
                ><label
                  >{{ tableStore.ItemDialog.type
                  }}{{ tableStore.ItemDialog.id }}</label
                ></span
              >
            </v-card-title>
            <v-card-text class="d-flex align-center justify-center text-h4"
              ><label class="seat">สถานะ: </label
              ><label class="color">รอทำความสะอาด</label>
            </v-card-text>
            <v-card-text class="d-flex align-center justify-center text-h4">
              <label class="seat">จำนวนที่นั่ง:</label>
              <p v-if="tableStore.ItemDialog.type === 'A'">&nbsp;2</p>
              <p v-if="tableStore.ItemDialog.type === 'B'">&nbsp;4</p>
              <p v-if="tableStore.ItemDialog.type === 'C'">&nbsp;6</p>
              <p v-if="tableStore.ItemDialog.type === 'D'">&nbsp;8</p>
            </v-card-text>
            <v-card-actions class="justify-center">
              <v-btn
                class="rounded-xl"
                variant="outlined"
                height="50px"
                style="background-color: #ffb100"
                @click="cleaned"
                ><label class="clean">Cleaned</label></v-btn
              >
            </v-card-actions>
          </v-card>
        </v-navigation-drawer>
      </v-card>
    </v-row>

    <!-- <v-row>
      <v-card class="pa-2 ma-2" outlined>จำนวนที่นั่ง: 2</v-card>
    </v-row>
    <v-row class="justify-start">
      <v-col cols="13" md="0" v-for="item of tableStore.tables" :key="item.id">
        <v-card
          class="ma-3 d-flex justify-center"
          height="200px"
          width="200px"
          color="#FFE699"
          v-if="item.st === 'yellow' && item.type === 'A'"
          @click="Add(item)"
        >
          <v-card-title class="d-flex align-center justify-center text-h2">
            {{ item.type }}{{ item.id }}
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-card class="pa-2 ma-2" outlined>จำนวนที่นั่ง: 4</v-card>
    </v-row>
    <v-row class="justify-start">
      <v-col cols="13" md="0" v-for="item of tableStore.tables" :key="item.id">
        <v-card
          class="ma-3 d-flex justify-center"
          height="200px"
          width="200px"
          color="#FFE699"
          v-if="item.st === 'yellow' && item.type === 'B'"
          @click="Add(item)"
        >
          <v-card-title class="d-flex align-center justify-center text-h2">
            {{ item.type }}{{ item.id }}
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-card class="pa-2 ma-2" outlined>จำนวนที่นั่ง: 6</v-card>
    </v-row>
    <v-row>
      <v-col cols="13" md="0" v-for="item of tableStore.tables" :key="item.id">
        <v-card
          class="ma-3 d-flex justify-center"
          height="200px"
          width="200px"
          color="#FFE699"
          v-if="item.st === 'yellow' && item.type === 'C'"
          @click="Add(item)"
        >
          <v-card-title class="d-flex align-center justify-center text-h2">
            {{ item.type }}{{ item.id }}
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-card class="pa-2 ma-2" outlined>จำนวนที่นั่ง: 8</v-card>
    </v-row>
    <v-row>
      <v-col cols="13" md="0" v-for="item of tableStore.tables" :key="item.id">
        <v-card
          class="ma-3 d-flex justify-center"
          height="200px"
          width="200px"
          color="#FFE699"
          v-if="item.st === 'yellow' && item.type === 'D'"
          @click="Add(item)"
        >
          <v-card-title class="d-flex align-center justify-center text-h2">
            {{ item.type }}{{ item.id }}
          </v-card-title>
        </v-card>
      </v-col>
    </v-row> -->
  </v-container>
</template>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100&display=swap");
label {
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: bold;
  font-size: 48px !important;
}

.seat,
p {
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: bold;
  font-size: 24px !important;
}
.clean {
  font-size: 20px !important;
  color: black;
}

.color {
  font-size: 24px !important;
  color: #ffb100;
  padding-left: 10px;
}
</style>
